<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Successfully Reset</title>
    <link rel="stylesheet" href="/resetSuccess.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="formBody">
        <h2>Reset Password Successful</h2>
            <form action="">
                <div>
                    <img src="/check.png" alt="" class="check">
                    <p>Your password has been reset</p>
                </div>
            </form>
    </div>
    
    <img src="/bigplant.png" alt="" class="bigplant">
    <img src="/codetag.png" alt="" class="codetag">
    <img src="/miniperson.png" alt="" class="miniperson">
    <img src="/miniplant.png" alt="" class="miniplant">
    
    </body>
</html>